.contact {
    padding: 140px 0;
    background: url("../../img/BG_Bottom.png") 50% 0% / cover no-repeat;
}
.contact__inner {
    display: flex;
    align-items: end;
    gap: 84px;
    position: relative;
}

.contact__inner::before {
    content: url("../../img/berries_1.png");
    position: absolute;
    top: -4%;
    left: 0;
}

.contact__inner::after {
    content: url("../../img/berries_2.png");
    position: absolute;
    top: 4%;
    right: 0;
}

.contact__img img {
    width: 100%;
    /* Таким образом добавляется тень, которая учитывает форму элемента. box-shadow больше подходит именно для блоков. */
    filter: drop-shadow(0 4px 30px rgba(198, 176, 161, 0.3)); 
}

.contact__body {
    max-width: 420px;
}
.contact__title {
    margin-bottom: 20px;
}
.title {
}
.contact__text {
    margin-bottom: 40px;
}
.contact__form {
}

.contact__label {
    margin-bottom: 10px;
}

.contact__input {
    display: block;
    width: 100%;
    border: 1px solid #ac907a;
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: all .4s;
    background-color: transparent;
    margin-bottom: 20px;
}

.contact__input:hover {
    border-color: var(--accent-color);
}

.contact__input::placeholder {
    color: #AC907A;
    transition: all .4s;
}

.contact__input:hover::placeholder {
    color: var(--accent-color);
}

.contact__input {
}
.contact__check-label {
    display: flex;
    align-items: start;
    gap: 5px;
    max-width: 288px;
    font-size: 13px;
    margin-bottom: 20px;
}

.contact__check-label a {
    text-decoration: underline;
    transition: .4s;
}

.contact__check-label a:hover {
    color: #FFA55C;
}

.contact__checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1.5px solid #AC907A;
    border-radius: 4px;
    transition: .4s;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
}

.contact__checkbox::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url("../../img/check.svg") 50% 50% no-repeat;
    opacity: 0;
    transition: .4s;
}

.contact__checkbox:hover {
    border: 1.5px solid #FFA55C;
}

.contact__checkbox:checked {
    background: #FFA55C ;
    border: 1.5px solid #FFA55C;
}

.contact__checkbox:checked::before {
    opacity: 1;
}