.main__gallery {
    padding-bottom: 140px;
}

.gallery {}

.container {}

.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img {
    justify-self: center;
    align-self: center;
}

.gallery__img img {
    max-width: 100%;
}

.gallery__content {
    display: flex;
    gap: 30px 15px;
    align-items: end;
    justify-content: space-between;
}

.gallery__info {
    max-width: 380px;
}

.gallery__prev,
.gallery__next {
    cursor: pointer;
    background: transparent;
    border: 1.5px solid var(--accent-color);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    flex-shrink: 0;
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 1.5px solid #E1D9E1;
    cursor: auto;
}

.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: #E1D9E1;
}

.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    background: transparent;
}

.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
    fill: #E1D9E1;
    
}

.gallery__prev:hover,
.gallery__next:hover {
    background: #FFA55C;
}

.gallery__prev path,
.gallery__next path {
    transition: .4s;
}

.gallery__prev:hover path,
.gallery__next:hover path {
    fill: #FFF9F4;
}

.gallery__title {
    margin-bottom: 10px;
}

.title {}

.gallery__text {}

.gallery__nav {
    display: flex;
    gap: 98px;
    align-items: center;
    font-family: "Gabriola";
    font-size: 42px;
    line-height: .9;
    position: relative;
}

/* .gallery__nav--mobile {
    display: none;
} */

.gallery__prev {}

.gallery__pagination {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
    width: auto;
}

.gallery__next {}

.gallery__slider {}

.swiper {}

.gallery__wrapper {}

.swiper-wrapper {}

.gallery__slide {}

.gallery__slide {
    border-radius: 20px;
    overflow: hidden;
}

.gallery__slide img {
    width: 100%;
}