.body {
    font-family: "Montserrat";
}

.header {
    padding-top: 30px;
    margin-bottom: 30px;
    color: #25282b;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    font-weight: 400;
}

.menu {
    gap: 0 30px;
    display: flex;
    flex-wrap: wrap;
}

.social {
    gap: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.hero {
    height: 582px;
    position: relative;
    background: #102e49cc;
}

.hero__video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero__inner {
    color: #f8fcff;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    font-size: 52px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 30px;
}

.list {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}

.list__item {
    margin-bottom: 15px;
}

.list__item:last-child {
    margin-bottom: 0px;
}

.svg {
    margin-right: 18px;
}

.button {
    font-weight: 500;
    background: #d0dce7;
    border-radius: 100px;
    color: #1d6fb6;
    padding: 18px;
    max-width: 288px;
    width: 100%;
    text-align: center;
    /* padding: 18px 112.5px; */
    font-size: 16px;
    line-height: 20px;
    transition: all 0.5s;
}

.button:hover {
    background: #83add3;
    color: #f8fcff;
}

.content {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1200px;
    margin: auto;
}

.content__inner {
    justify-content: space-between;
    display: flex;
    gap: 30px;
}

.content__menu {

    max-width: 282px;
    width: 100%;
}

.content__menu-list {

    color: rgb(37, 40, 43);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 30px;
    border: 2px solid #d0dce7;
}

.content__menu-item {
    margin-bottom: 20px;
}

.content__menu-item:last-child {
    margin-bottom: 0px;
}

/* .stab {
    min-width: 26px;
    max-width: 126px;
} */

.content__products {
    max-width: 792px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    gap: 24px;
    /* max-width: 792px; */
    width: 100%;
    color: #f8fcff;
    font-weight: 500;
    margin-bottom: 120px;
}

.products__item,
.products__item-right,
.products__item-left {
    overflow: hidden;
}

.products__item:hover .products__item-hint,
.products__item-right:hover .products__item-hint,
.products__item-left:hover .products__item-hint {
    transform: translateY(0%);
    opacity: 1;
}

.products img {
    width: 100%;
}

.products__item-left {
    grid-column: 1/3;
    grid-row: span 2;
}

.products__item-right {
    grid-column: 3/5;
    grid-row: span 2;
}

.products__item,
.products__item-left,
.products__item-right {
    position: relative;
}

.products__item-hint {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 53px;
    background: #1d6fb6b3;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 16px;
    transform: translateY(100%);
    transition: .3s;
    opacity: 0;
}

.products__item-right .products__item-hint,
.products__item-left .products__item-hint {
    font-size: 24px;
    line-height: 29px;
    height: 103px;
}

.content__showcase {
    display: grid;
    gap: 24px;
    /* max-width: 792px; */
    grid-template-columns: repeat(2, 1fr);
    
}

.showcase__item a {
    text-align: center;
    display: block;
    font-weight: 500;
    background: #d0dce7;
    border-radius: 100px;
    color: #1d6fb6;
    /* padding: 18px 113px; */
    font-size: 16px;
    line-height: 20px;
    transition: all 0.5s;
    max-width: 289px;
    width: 100%;
    padding: 18px;
}

.showcase__item a:hover {
    background: #83add3;
    color: #f8fcff;
}

.showcase__item img {
    width: 100%;
}

.showcase__item {
    color: rgb(29, 111, 182);
    position: relative;
}

.showcase__item-bord {
    border: 1px solid #d0dce7;
    border-top: none;
    display: flex;
    justify-content: center;
    padding: 30px 48px;
}

.showcase__badge {
    position: absolute;
    left: 0;
    top: 30px;
    background: rgb(248, 252, 255);
    border-radius: 0px 100px 100px 0px;
    min-width: 130px;
    height: 56px;
    display: block;
    text-align: center;
    padding: 18px 0 18px;
    animation: badge 2.5s infinite alternate;
}

@keyframes badge {
    0% {
        min-width: 130px;
    }
    66.666% {
        min-width: 130px;
    }
    100% {
        min-width: 148px;
    }
}

footer {
    background: rgb(120, 128, 136);
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 30px 0;
    font-weight: 400;
    line-height: 20px;
    gap: 0px 10px;
    color: rgb(248, 252, 255);
}