body {
    background-image: url(../img/nexeption.jpg);
    background-size: 122px;
}

.blocks {
    position: relative;
}

.block {
    position: fixed;
    right: 0;
    bottom: 0;
    right: 50px;
    bottom: 100px;
    
    
}

.gray {
    height: 100px;
    background-color: #c3bdbd;
    border-radius: 15px;
    width: 50%;
}

.red {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    bottom: 150px;
    right: 600px;
}